<div class="container-fluid">
	<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12 good">
        <a ng-href="#/unit/sols"><h2>
						Sols
					</h2></a>
    </div>
		<div class="col-lg-4 col-sm-6 col-xs-12 warning">
        <a ng-href="#/unit/cornerstore"><h2>
					The Corner Store
					</h2></a>
    </div>
		<div class="col-lg-4 col-sm-6 col-xs-12 off">
        <a ng-href="#/unit/crossroads"><h2>
					Crossroads
					</h2> </a>
    </div>
		<div class="col-lg-4 col-sm-6 col-xs-12 bad">
        <a ng-href="#/unit/gvmarket"><h2>
					GV Market
					</h2></a>
    </div>
	  <div class="col-lg-4 col-sm-6 col-xs-12 off">
        <a ng-href="#/unit/bytes"><h2>
					Bytes
					</h2> </a>
    </div>
	</div>
</div>
