<div class="container-fluid">
	<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12 good">
        <a ng-href="#/unit/sols">
             <img src="app/imgs/solsunderground.gif" class="thumbnail img-responsive">
        </a>
    </div>
		<div class="col-lg-4 col-sm-6 col-xs-12 warning">
        <a ng-href="#/unit/cornerstore">
             <img src="app/imgs/cornerstore.gif" class="thumbnail img-responsive">
        </a>
    </div>
		<div class="col-lg-4 col-sm-6 col-xs-12 off">
        <a ng-href="#/unit/crossroads">
             <img src="app/imgs/crossroads.gif" class="thumbnail img-responsive">
        </a>
    </div>
		<div class="col-lg-4 col-sm-6 col-xs-12 bad">
        <a ng-href="#/unit/gvmarket">
             <img src="app/imgs/gvmarket.jpg" class="thumbnail img-responsive">
        </a>
    </div>
	  <div class="col-lg-4 col-sm-6 col-xs-12 off">
        <a ng-href="#/unit/bytes">
             <img src="app/imgs/bytes.jpg" class="thumbnail img-responsive">
        </a>
    </div>
	</div>
</div>
