<form class="form-horizontal">
	<fieldset>

		<!-- Form Name -->
		<legend>Add a Thermometer</legend>

		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="UnitName">Unit</label>
			<div class="col-md-4">
				<input type="text" disable>{{thermList.Unit_name}}
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tempSerial">Thermometer Serial #</label>
			<div class="col-md-4">
				<input id="tempSerial" name="tempSerial" placeholder="" class="form-control input-md" required="" type="text" disabled>{{thermList.Therm_serial}}
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tempName">Common Name</label>
			<div class="col-md-4">
				<input id="tempName" name="tempName" placeholder="" class="form-control input-md" type="text">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tempLocation">Location of thermometer</label>
			<div class="col-md-4">
				<input id="tempLocation" name="tempLocation" placeholder="" class="form-control input-md" type="text">

			</div>
		</div>

		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tempType">Thermometer Type</label>
			<div class="col-md-4">
				<select id="tempType" name="tempType" class="form-control">
					<option value="1">Hot</option>
					<option value="2">Cold</option>
					<option value="3">Freezer</option>
					<option value="4">Box Freezer</option>
					<option value="5">Probe</option>
				</select>
			</div>
		</div>

		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="submit"></label>
			<div class="col-md-4">
				<button id="submit" name="submit" class="btn btn-primary">Add Thermometer</button>
			</div>
		</div>

	</fieldset>
</form>
