<form role="form">
	<fieldset>

		<!-- Form Name -->
		<legend>Unit Creation</legend>

		<!-- Text input - Unit name-->
		<div class="form-group">
			<label class="control-label" for="unitName">Unit Name</label>
			<div>
				<input id="unitName" name="unitName" placeholder="" class="form-control input-md" required="" type="text">
			</div>
		</div>

		<!-- Text input - Unit number-->
		<div class="form-group">
			<label class="control-label" for="unitNumber">Building Name</label>
			<div>
				<input id="unitNumber" name="unitNumber" placeholder="" class="form-control input-md" required="" type="text">
			</div>
		</div>

		<!-- Button -->
		<div class="form-group">
			<label class="control-label" for="submitBtn"></label>
			<div>
				<button id="submitBtn" name="submitBtn" class="btn btn-primary">Create unit</button>
			</div>
		</div>

	</fieldset>
</form>
