<form class="form-horizontal">
	<fieldset>

		<!-- Form Name -->
		<legend>Unit Creation - Unit Name</legend>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="warningTime">Time until warning</label>
			<div class="col-md-4">
				<input id="warningTime" name="warningTime" placeholder="Mins" class="form-control input-md" required="" type="text">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="scheduleName">Schedule Name</label>
			<div class="col-md-4">
				<input id="scheduleName" name="scheduleName" placeholder="" class="form-control input-md" type="text">

			</div>
		</div>

		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="startTime">Start Time</label>
			<div class="col-md-4">
				<select id="startTime" name="startTime" class="form-control">
					<option value="1">Option one</option>
					<option value="2">Option two</option>
				</select>
			</div>
		</div>

		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="endTime">End TIme</label>
			<div class="col-md-4">
				<select id="endTime" name="endTime" class="form-control">
					<option value="1">Option one</option>
					<option value="2">Option two</option>
				</select>
			</div>
		</div>

		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="submit"></label>
			<div class="col-md-4">
				<button id="submit" name="submit" class="btn btn-primary">Create Unit</button>
			</div>
		</div>

	</fieldset>
</form>
